*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: norms-bold;
    src: url(font/TTNorms-Bold.woff2);
}
@font-face {
    font-family: norms-medium;
    src: url(font/TTNorms-Medium\ \(1\).woff2);
}
@font-face {
    font-family: norms-regular;
    src: url(font/TTNorms-Regular.woff2);
}
@font-face {
    font-family: roboto;
    src: url(font/KFOmCnqEu92Fr1Mu4mxK.woff2);
}
@font-face {
    font-family: roboto-medium;
    src: url(font/KFOlCnqEu92Fr1MmEU9fBBc4\(1\).woff2);
}
@font-face {
    font-family: norms-medium2;
    src: url(font/TTNorms-Medium\(2\).woff2);
}


body{
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}
.rope{
    justify-content: center;
    align-items: center;
}
  
.navbar{
    box-sizing: border-box;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}
.door{
    /* margin: 0; */
    width: 100%;
    display: flex;
    justify-content: center;
    transform: translateX(3px);
    margin-left: 9%;
     
}
.logo {
    margin-left: 1px;
}
.golo{
    margin-left: -2px;
}
.door svg{
    height: 40px;
    fill: white;
    box-sizing: border-box;
    margin-left: 14px;
    padding-top: 0;
    /* margin-top:-40px; */
    
}
header{
    background: url("https://img.cdn4dd.com/cdn-cgi/image/fit=cover,format=auto,quality=60/https://cdn.doordash.com/managed/consumer/seo/home/hero_v3/hero_desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* object-fit: cover; */
    height: 650px;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    justify-content: center;
    margin-bottom: 90px;
    
}
.button{
    display: flex;
    box-sizing: border-box;
    /* box-sizing: border-box; */
    transform: translateX(-22px);
    gap: 10px;
}
.button .in{
    height: 40px;
    width: 81.4833px;
    border-radius: 19px;
    border: none;
    background-color: #eb1700;
    box-sizing: border-box;
color: rgb(255, 255, 255);
cursor: pointer;
display: block;
font-family:norms-bold; 
font-size: 18px;
/* font-variant-ligatures: no-common-ligatures; */
font-weight: 700;
letter-spacing: -0.01px;
line-height: 22px;
margin-left: 5px;
}
.button .up{
    width: 89.933px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: #ffffff;
    box-sizing: border-box;
color: rgb(73, 73, 73);
cursor: pointer;
display: block;
font-family: norms-bold;
font-size: 18px;
/* font-variant-ligatures: no-common-ligatures; */
font-weight: 700;
letter-spacing: -0.01px;
line-height: 22px;
/* margin-left: 2px; */
transform: translateX(-2px);
/* padding-bottom: 2px; */

}
.siva{
    display: none;
}
.dev{
    display: none;
}
.discover{
    text-align: center;
    display: block;
    /* box-sizing: border-box; */
    /* width: 100%; */
    text-align: center;
    justify-content: center;
    margin-top: 11.8%;
}


.banner-text{
    font-family: norms-bold;
    box-sizing: border-box;
color: rgb(255, 255, 255);
display: block;
font-size: 40px;
font-variant-ligatures: no-common-ligatures;
font-weight: 700;
letter-spacing: -0.01px;
line-height: 40px;
/* margin-top: 0; */
}
.cover{
    margin: auto;
    justify-content: center;
    /* align-items: center; */
    display: flex;
    /* display: block; */
    height: 56px;
    padding: 20px; 
    justify-content: space-between;
    background-color: #ffffff;
    max-width: 408px;
    /* transform: translateX(713px); */
    border-radius: 150px;
    margin-top: 24px;
    border: none;
    outline: none;
    transform: translateX(-1px);
    /* border: 2px solid ; */

}
.rope{
    /* margin:  auto;  */
    justify-content: center;
    align-items: center;
}
.cover input{
    border: none;
    font-family: norms-medium;
font-size: 16px;
font-weight: 500;
letter-spacing: normal;
/* line-height: 22px; */
margin-left: -62px;
transform: translateY(-2px)
}

.saved{
    margin: auto;
    display: block;
    justify-content: center;
    background-color: #ffffff;
    max-width: 203.333px;
    height: 32px;
    justify-content: center;
    /* margin-left: 816px; */
    margin-top: 16px;
    border-radius: 20px;
    
}
.location{
    margin-top: -4px;
}
.saved p{
    box-sizing: border-box;
color: rgb(36, 36, 36);
cursor: pointer;
display: block;
font-family: norms-bold;
font-size: 14px;
/* font-variant-ligatures: normal; */
font-weight: 700;
letter-spacing: -0.01px;
line-height: 20px;
align-items: center;
padding-top: 6px;
/* border-radius: 20px; */
}
.saved svg{
    margin-top: 8px;
    margin-right: 4px;
}
.form{
    border: none;
    outline: none; 
}
.dasher{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 124px;
    margin-left: -48px;
}
.scooter{
    box-sizing: border-box;
    display: block;
    text-align: center;
 
}
.scooter h2{
    box-sizing: border-box;
color: rgb(25, 25, 25);
display: block;
font-family: norms-bold;
font-size: 32px;
max-width: 200px;
font-weight: 700;
letter-spacing: -0.01px;
line-height: 40px;
margin-top: -4px;
/* margin-left: -4px; */
}
.fan span{
    display: block;
    box-sizing: border-box;
color: rgb(25, 25, 25);
display: block;
font-family:norms-medium;
font-size: 18px;
font-variant-ligatures: no-common-ligatures;
font-weight: 500;
letter-spacing: -0.01px;
line-height: 24px;
text-align: center;
margin-top: 8px;
transform: translateX(-29px);
max-width: 250px;

}
.arrow span{
    box-sizing: border-box;
color: rgb(235, 23, 0);
cursor: pointer;
display: flex;
font-family: norms-bold;
font-size: 18px;
/* font-variant-ligatures: normal; */
font-weight: 700;
letter-spacing: -0.01px;
line-height:22px;
margin-top: 13px;

}
.house {
    display: block;
    text-align: center;
    
}
.non h2{
   margin-left: 4px;
}
.non h2{
    box-sizing: border-box;
color: rgb(25, 25, 25);
display: block;
font-family: norms-bold;
font-size: 32px;
font-variant-ligatures: no-common-ligatures;
font-weight: 700;
letter-spacing: -0.01px;
line-height: 40px;
width: 200px;
/* margin-left: 5px; */
transform: translateX(26px);
margin-top: -4px;
}
.house span{
    max-width: 200px;
    display: block;
}
.mobile{
    display: block;
    text-align: center;
    justify-content: center;

}
.shoe h2{
   box-sizing: border-box;
color: rgb(25, 25, 25);
display: block;
font-family: norms-bold;
font-size: 32px;
font-variant-ligatures: no-common-ligatures;
font-weight: 700;
letter-spacing: -0.01px;
line-height: 40px; 
max-width: 200px;
margin-left: 40px;
margin-top: -4px;
}
.mobile span{
max-width: 200px;
display: block;

}
.start2 .span{
box-sizing: border-box;
color: rgb(235, 23, 0);
cursor: pointer;
display: block;
font-family: norms-bold;
font-size: 18px;
font-variant-ligatures: normal;
font-weight: 700;
letter-spacing: -0.01px;
line-height: 22px;
margin-top: 10px;

}
.arrow svg{
    color: red;
    position: absolute;
    top: 10px;
    right: 30%;
    max-width: 16px;
}
.arrow{
    justify-content: center;
    display: flex;
    /* margin-left: 30px; */
    text-align: center;
    position: relative;
    /* width: 50%; */
}

.type img{
    height: 154px;
    max-width: 154px;
    box-sizing: border-box;
    transform: translateX(-18px); 
}
.type2 img{
    height: 154px;
    max-width: 154px;
    box-sizing: border-box;
    margin-left: 24px;
}
.start2 span.dd{
    color: rgb(235, 23, 0);
    display: block;
    font-family: norms-bold;
}
.start{
    display: flex;
    width: 100%;
}
.start1 svg{
    color: red;
    max-width: 16px;
    position: relative;
    right: 20px;
    
    
}
.start2{
    display: flex;
    text-align: center;
    justify-content: center;
}
.start1{
    display: flex;
    align-items: center;
    justify-content: center;

}
.non span{
    /* max-width: 270px; */
box-sizing: border-box;
color: rgb(25, 25, 25);
display: block;
font-family: norms-medium;
font-size: 18px;
font-variant-ligatures: no-common-ligatures;
font-weight: 500;
letter-spacing: -0.01px;
line-height: 24px;
transform: translateX(-9px);
margin-top: 8px;


}
.start1 span{
    box-sizing: border-box;
color: rgb(235, 23, 0);
cursor: pointer;
display: block;
font-family: norms-bold;
font-size: 18px;
font-variant-ligatures: normal;
font-weight: 700;
letter-spacing: -0.01px;
line-height: 22px;
width: 190px;
}
.shoe span{
    box-sizing: border-box;
color: rgb(25, 25, 25);
display: block;
font-family: norms-medium;
font-size: 18px;
font-variant-ligatures: no-common-ligatures;
font-weight: 500;
letter-spacing: -0.01px;
line-height: 24px;
/* max-width: 270px; */
}
.crave{
    width: 100%;
    /* width: 70%; */
    display: flex;
    /* border: 2px solid black; */
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    
}
.crave-img{
    margin-left: 78px;
}
.writing{
    display: block;
    /* width: 40%; */
    margin-left: -10px;
}
.crave-img img{
    width: 100%;
    max-height: 500px;
}
.writing h2{
    box-sizing: border-box;
color: rgb(25, 25, 25);
display: block;
font-family: TT Norms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
font-size: 40px;
font-variant-ligatures: no-common-ligatures;
font-weight: 700;
letter-spacing: -0.01px;
line-height: 40px;
width: 350px;
margin-bottom: 10px;
transform: translateY(-10px);
}
.saved .deep{
display: none;
}
.writing span{
    box-sizing: border-box;
color: rgb(25, 25, 25);
display: block;
font-family: TT Norms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
font-size: 20px;
font-variant-ligatures: no-common-ligatures;
font-weight: 700;
letter-spacing: -0.01px;
line-height: 24px;
width: 100%;
margin-bottom: 8px;
}
.writing p{
box-sizing: border-box;
color: rgb(25, 25, 25);
display: block;
font-family: norms-medium;
font-size: 16px;
font-variant-ligatures: no-common-ligatures;
font-weight: 500;
letter-spacing: -0.01px;
line-height: 22px;
max-width: 400px;
}
.writing button{
    width: 145.9px;
    height: 40px;
    border-radius: 22px;
    box-sizing: border-box;
color: rgb(255, 255, 255);
cursor: pointer;
display: block;
font-family: norms-medium;
font-size: 15px;
font-variant-ligatures: no-common-ligatures;
font-weight: 700;
letter-spacing: -0.01px;
line-height: 22px;
background-color: #eb1700;
border: none;
margin-top: 30px;
}
.full-pink{
    width: 100%;
    height: 605px;
    background-color: #fef1ee;
    padding-top: 8px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.less{
    display: block;
    
}
.less img{
    height: 500px;
   max-width: 724px;
    margin-top: 74px;
}
.words{
    display: block;
    box-sizing: border-box;
    margin-left: 60px;
    /* transform: translateY(148px); */
    margin-top: 217px;
    /* justify-content: ; */
    
}
.words h2{
box-sizing: border-box;
color: rgb(25, 25, 25);
display: block;
font-family: norms-bold;
font-size: 40px;
font-variant-ligatures: no-common-ligatures;
font-weight: 700;
letter-spacing: -0.01px;
line-height: 40px;
max-width: 300px;
margin-bottom: 20px;

}
.words span{
box-sizing: border-box;
color: rgb(25, 25, 25);
display: block;
font-family: norms-medium;
font-size: 16px;
font-variant-ligatures: no-common-ligatures;
font-weight: 500;
letter-spacing: -0.01px;
line-height: 22px;
max-width: 400px;
margin-bottom: 27px;
}
.words button{
    height: 40px;
    width: 126.960px;
    border: none;
    background-color: #eb1700;
    color: #ffffff;
    box-sizing: border-box;
color: rgb(255, 255, 255);
cursor: pointer;
display: block;
font-family: norms-medium;
font-size: 16px;
font-variant-ligatures: no-common-ligatures;
font-weight: 700;
letter-spacing: -0.01px;
line-height: 22px;
border-radius: 20px;
}
.cover-img{
    
    width: 100%;
    background-image: url("https://img.cdn4dd.com/cdn-cgi/image/fit=cover,format=auto,quality=60/https://cdn.doordash.com/managed/consumer/seo/home/landing_cta/grocery_desktop.png");
    height: 600px;
      background-size: cover; 
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
}

.grocery{
     display: flex;
     flex-direction: column;
    box-sizing: border-box;
   justify-content: center;
   left: 39%;
   top: 28%;
   position: absolute;
   text-align: center;
}
.grocery h2{
    display: block;
filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 2px 8px);
font-family: norms-bold;
font-size: 40px;
font-weight: 700;
letter-spacing: -0.01px;
line-height: 38px;
max-width: 350px;
/* width: 48%; */
text-align: center;
color: #ffffff;
margin-bottom: 22px;
/* transform: translateX(92px); */

}
.grocery span{
    box-sizing: border-box;
color: rgb(255, 255, 255);
display: block;
filter: norms-bold;
font-size: 20px;
font-weight: 700;
letter-spacing: -0.01px;
line-height: 24px;
max-width: 400px;
align-items: center;
/* margin-top: 20px; */
}
.grocery p{
box-sizing: border-box;
color: rgb(255, 255, 255);
display: block;
font-family: norms-medium;
font-size: 16px;
font-weight: 500;
letter-spacing: -0.01px;
line-height: 22px;
max-width: 520px;
position: relative;
right: 50px;
top: 10px;
text-align: center;
}
.grocery button{
height: 40px;
max-width: 138.067px;
box-sizing: border-box;
color: rgb(255, 255, 255);
cursor: pointer;
display: block;
font-family: norms-medium;
font-size: 16px;
/* font-variant-ligatures: no-common-ligatures; */
font-weight: 700;
letter-spacing: -0.01px;
line-height: 22px;
background-color: #eb1700;
border: none;
border-radius: 16px;
position: relative;
left: 145px;
top: 40px;

}
.noor{
    margin-top: 50px;
    display: flex;
    /* width: 100%; */
    justify-content: center;
  
}
.ezra{
    position: relative;
    display: block;
    /* margin-top: 140px; */
    right: 50px;
    top: 140px;

}
.medi{
display: block;
box-sizing: border-box;
/* margin-left: 120px; */

}
.medi img{
   max-width: 695.033px;
    /* height: 500px; */
    position: relative;
    left: 40px;
}
.ezra h1{
    box-sizing: border-box;
color: rgb(25, 25, 25);
display: block;
font-family: norms-bold;
font-size: 40px;
font-variant-ligatures: no-common-ligatures;
font-weight: 700;
letter-spacing: -0.01px;
line-height: 40px;
max-width: 290px;
}
.ezra span{
    box-sizing: border-box;
color: rgb(25, 25, 25);
display: block;
font-family: norms-medium;
font-size: 16px;
font-variant-ligatures: no-common-ligatures;
font-weight: 500;
letter-spacing: -0.01px;
line-height: 22px;
max-width: 370px;
margin-top: 20px;
margin-bottom: 20px;
}
.ezra button{
width: 100.25px;
height: 40px;
border-radius: 20px;
border: none;
background-color: #eb1700;
box-sizing: border-box;
color: rgb(255, 255, 255);
cursor: pointer;
display: block;
font-family: norms-medium;
font-size: 16px;
font-variant-ligatures: no-common-ligatures;
font-weight: 700;
letter-spacing: -0.01px;
line-height: 22px;
margin-top: 10px;
}
.gift{
       display: flex;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 180px;
    background-color: #fef1ee;
    justify-content: center;
    margin-top: -22px;
}
.gift span{
    box-sizing: border-box;
 color: rgb(25, 25, 25);
display: block;
font-family: norms-bold;
font-size: 32px;
font-variant-ligatures: no-common-ligatures;
font-weight: 700;
letter-spacing: -0.01px;
line-height: 40px;
padding-top: 60px;
max-width: 450px;
text-align: center;
}
.boxer{
    padding-top: 100px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2,552px);
    /* grid-template-rows: 800px 800px; */
    gap: 40px;
    max-width: 100%;

    background-color: #fef1ee;
}
.box{
    display: block;
    width: 90%;

}
.pack img{
width: 100%;
max-height: 552px;
object-fit: cover;
}
.from{
    /* border: 2px solid black; */
    display: block;
    box-sizing: border-box;
    margin-top: 29px;

}
.from h2{
box-sizing: border-box;
color: rgb(25, 25, 25);
display: block;
font-family: norms-bold;
font-size: 40px;
font-variant-ligatures: no-common-ligatures;
font-weight: 700;
letter-spacing: -0.01px;
line-height: 40px;
max-width: 500px;
text-align: center;
transform: translateX(28px);

}
.from span{
box-sizing: border-box;
color: rgb(25, 25, 25);
display: block;
font-family: norms-medium;
font-size: 16px;
font-variant-ligatures: no-common-ligatures;
font-weight: 500;
letter-spacing: -0.01px;
line-height: 22px;
text-align: center;
margin-top: 20px;
}
.from button{
width: 168.5px;
height:40px;
box-sizing: border-box;
color: rgb(255, 255, 255);
cursor: pointer;
display: block;
font-family: TT Norms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
font-size: 15px;
font-variant-ligatures: no-common-ligatures;
font-weight: 700;
letter-spacing: -0.01px;
line-height: 22px;
border: none;
background-color: #eb1700;
border-radius: 20px;
align-items: center;
justify-content: center;
text-align: center;
margin-top: 30px;
/* padding-left: 49px; */
transform: translateX(194px);
}


.flower{
    /* border: 2px solid black; */
    display: block;
    box-sizing: border-box;
    margin-top: 29px;
    width: 100%;

}
.flower h2{
box-sizing: border-box;
color: rgb(25, 25, 25);
display: block;
font-family: norms-bold;
font-size: 40px;
font-variant-ligatures: no-common-ligatures;
font-weight: 700;
letter-spacing: -0.01px;
line-height: 40px;
width: 90%;
text-align: center;
/* transform: translateX(32px); */
}
.flower span{
box-sizing: border-box;
color: rgb(25, 25, 25);
display: block;
font-family: norms-medium;
font-size: 16px;
font-variant-ligatures: no-common-ligatures;
font-weight: 500;
letter-spacing: -0.01px;
line-height: 22px;
text-align: center;
margin-top: 20px;
width: 80%
}
.flower button{
width: 124.017px;
height: 40px;
border: none;
background-color: #eb1700;
border-radius: 20px;
align-items: center;
justify-content: center;
box-sizing: border-box;
color: rgb(255, 255, 255);
cursor: pointer;
display: block;
font-family: norms-medium;
font-size: 16px;
font-variant-ligatures: no-common-ligatures;
font-weight: 700;
letter-spacing: -0.01px;
line-height: 22px;
margin-top: 31px;
transform: translateX(218px);
}
.minibar{
    /* border: 2px solid black; */
    display: block;
    box-sizing: border-box;
    margin-top: 20px;

}
.minibar h2{
box-sizing: border-box;
color: rgb(25, 25, 25);
display: block;
font-family: norms-bold;
font-size: 40px;
font-variant-ligatures: no-common-ligatures;
font-weight: 700;
letter-spacing: -0.01px;
line-height: 40px;
max-width: 500px;
text-align: center;
/* width: 390px; */
margin-left: 29px;
}
.minibar span{
box-sizing: border-box;
color: rgb(25, 25, 25);
display: block;
font-family: norms-medium;
font-size: 16px;
font-variant-ligatures: no-common-ligatures;
font-weight: 500;
letter-spacing: -0.01px;
line-height: 22px;
text-align: center;
margin-top: 22px;
}
.minibar button{
width: 124.017px;
height: 40px;
border: none;
background-color: #eb1700;
border-radius: 20px;
align-items: center;
justify-content: center;
box-sizing: border-box;
color: rgb(255, 255, 255);
cursor: pointer;
display: block;
font-family: norms-medium;
font-size: 16px;
font-variant-ligatures: no-common-ligatures;
font-weight: 700;
letter-spacing: -0.01px;
line-height: 22px;
margin-top: 30px;
transform: translateX(217px);
}
.pet{
    /* border: 2px solid black; */
    display: block;
    box-sizing: border-box;
    margin-top: 20px;

}
.pet h2{
box-sizing: border-box;
color: rgb(25, 25, 25);
display: block;
font-family: norms-bold;
font-size: 40px;
font-variant-ligatures: no-common-ligatures;
font-weight: 700;
letter-spacing: -0.01px;
line-height: 40px;
width: 80%;
text-align: center;
margin-left: 30px;
}
.pet span{
box-sizing: border-box;
color: rgb(25, 25, 25);
display: block;
font-family: norms-medium;
font-size: 16px;
font-variant-ligatures: no-common-ligatures;
font-weight: 500;
letter-spacing: -0.01px;
line-height: 22px;
text-align: center;
margin-top: 22px;
width: 80%;
}
.pet button{
width: 149.1px;
height:40px;
border: none;
background-color: #eb1700;
border-radius: 20px;
align-items: center;
justify-content: center;
box-sizing: border-box;
color: rgb(255, 255, 255);
cursor: pointer;
display: block;
font-family: norms-medium;
font-size: 16px;
font-variant-ligatures: no-common-ligatures;
font-weight: 700;
letter-spacing: -0.01px;
line-height: 22px;
margin-top: 31px;
transform: translateX(207px);
/* padding-bottom: 20px; */
}
.bussi{
    display: flex;
    height: 180px;
    justify-content: center;
    text-align: center;
    float: center;
}
.bussi h2{
    display: block;
    /* justify-content: center; */
    max-width: 390px;
    box-sizing: border-box;
color: rgb(25, 25, 25);
display: block;
font-family: norms-bold;
font-size: 32px;
font-variant-ligatures: no-common-ligatures;
font-weight: 700;
letter-spacing: -0.01px;
line-height: 40px;
margin-top: 54px;
}
.mar{
    display: flex;
    justify-content: center;
    margin-top: 14px;
    height: 550px;

}
.mar-img img{
    display: flex;
    box-sizing: border-box;
    transform: translateX(1px);
    max-width: 695.033px;
    height: 500px;
}
.paid{
    display: block;
    transform: translateY(143px);
    margin-right: 59px;
}
.paid h2{
    box-sizing: border-box;
color: rgb(25, 25, 25);
display: block;
font-family: norms-bold;
font-size: 40px;
font-variant-ligatures: no-common-ligatures;
font-weight: 700;
letter-spacing: -0.01px;
line-height: 40px;
max-width: 300px;
}
.paid span{
    box-sizing: border-box;
color: rgb(25, 25, 25);
display: block;
font-family: norms-medium;
font-size: 16px;
font-variant-ligatures: no-common-ligatures;
font-weight: 500;
letter-spacing: -0.01px;
line-height: 22px;
max-width: 400px;
margin-top: 20px;

}
.paid button{
    width: 152.717px;
    height: 40px;
    box-sizing: border-box;
color: rgb(255, 255, 255);
cursor: pointer;
display: block;
font-family: norms-medium;
font-size: 16px;
font-variant-ligatures: no-common-ligatures;
font-weight: 700;
letter-spacing: -0.01px;
line-height: 22px;
background-color: #eb1700;
border-radius: 20px;
border: none;
margin-top: 30px;

}
.sales{
    display: flex;
    justify-content: center;
    height: 604px;
    background-color: #fef1ee;
    margin-top: -84px;
    padding-top: 79px;
    width: 100%;

    
}
.girl img{
width: 90%;
height: 500px;
margin-right: 60px;
object-fit: cover;
}
.girl{
    display: block;
    
}
.top{
    display: block;
    transform: translateY(123px);
}
.top h2{
    box-sizing: border-box;
color: rgb(25, 25, 25);
display: block;
font-family: norms-bold;
font-size: 40px;
font-variant-ligatures: no-common-ligatures;
font-weight: 700;
letter-spacing: -0.01px;
line-height: 40px;
max-width: 290px;
}
.top span{
    box-sizing: border-box;
color: rgb(25, 25, 25);
display: block;
font-family: norms-medium;
font-size: 16px;
font-variant-ligatures: no-common-ligatures;
font-weight: 500;
letter-spacing: -0.01px;
line-height: 22px;
max-width: 399px;
margin-top: 20px;
}
.top button{
    width: 156.133px;
    height: 40px;
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
color: rgb(255, 255, 255);
cursor: pointer;
display: block;
font-family: TT Norms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
font-size: 15.7px;
font-variant-ligatures: no-common-ligatures;
font-weight: 700;
letter-spacing: -0.01px;
line-height: 22px;
background-color: #eb1700;
margin-top: 30px;
}
.hood{
    display: block;
    margin-top: 50px;
    height: 326px;
    
}
.down{
    display: flex;
    justify-content: center;  

}
.down h1{
    box-sizing: border-box;
color: rgb(25, 25, 25);
display: block;
font-family: norms-bold;
font-size: 32px;
font-variant-ligatures: no-common-ligatures;
font-weight: 700;
letter-spacing: -0.01px;
line-height: 40px;
margin-top: -15px;

}
.chain{
    width: 60%;
    display: flex;
    justify-content: center;
    margin: auto;
    justify-content: space-around;
    box-sizing: border-box;
    margin-top: 30px;
}
.chain p{
    box-sizing: border-box;
color: rgb(73, 73, 73);
cursor: pointer;
display: block;
font-family: norms-medium;
font-size: 16px;
font-variant-ligatures: no-common-ligatures;
font-weight: 500;
letter-spacing: -0.01px;
line-height: 22px;
border-bottom-style:groove;
/* width: 50%; */
}
.miami{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
}
.miami ul{
    list-style: none;
    text-decoration: none;
    display: grid;
}
.miami ul li{
margin-top: 20px;
/* text-align: right; */
transform: translateX(-100px);
box-sizing: border-box;
color: rgb(25, 25, 25);
cursor: pointer;

font-family: norms-medium;
font-size: 16px;
font-variant-ligatures: no-common-ligatures;
font-weight: 500;
letter-spacing: -0.01px;
}
ul .new{
    box-sizing: border-box;
color: rgb(25, 25, 25);
cursor: pointer;
display: block;
font-family: TT Norms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
font-size: 16px;
font-variant-ligatures: no-common-ligatures;
font-weight: 500;
letter-spacing: -0.01px;
line-height: 22px;
/* text-align: center; */
}
.queen{
    text-align: center;
    box-sizing: border-box;
color: rgb(25, 25, 25);
cursor: pointer;
display: block;
font-family: TT Norms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
font-size: 16px;
font-variant-ligatures: no-common-ligatures;
font-weight: 500;
letter-spacing: -0.01px;
line-height: 22px
}
.krish{
    display: block;
    width: 100%;
    height: 822px;
    background-color: #191919;
    color:#ffffff;
    /* padding-left: 20px; */
}
.bahu {

    justify-content: center;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4,280px);  
}
.done{
    margin: -20px;
}
.row {
    display: flex;
    background-color: #eb1700;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    /* margin-left: 20px; */
    transform: translateX(12px);
    margin-top: -12px;
    color: #fef1ee;
    
}
.pop{
    display: flex;
margin-left: 19.4%;
    /* margin: 0 350px; */
}

.pop p{
    display: flex;
    
    justify-content: center;
color: rgb(255, 255, 255);
display: block;
font-family: norms-medium;
font-size: 16px;
font-variant-ligatures: no-common-ligatures;
font-weight: 500;
letter-spacing: normal;
line-height: 22px;
/* padding-top: 30px; */
}
.bahu ul{
    box-sizing: border-box;
color: rgb(196, 196, 196);
cursor: pointer;
display: block;
font-family: norms-medium;
font-size: 14px;
font-variant-ligatures: no-common-ligatures;
font-weight: 500;
letter-spacing: normal;
}
.bahu li{
    display: block;
    margin-top: 15px;
    
}
.code {
    display: flex;
    gap: 80px;
    padding-left: 20%;
    padding-top: 48px;
}
.cool{
    display: block;
}
.all{
    display: flex;
    margin-left: 18%;
}
.all ul{
    list-style: none;
    margin-left: 50px;
    
}
.all li{
    margin-top: 10px;

}
.code p{
    box-sizing: border-box;
color: rgb(255, 255, 255);
display: block;
font-family: norms-bold;
font-size: 16px;
font-variant-ligatures: no-common-ligatures;
font-weight: 500;
letter-spacing: normal;
line-height: 22px;
}
.gradeient{
    background-color: rgba(30, 30, 30, 0.6);
    width: 100%;
    height: 100%;
}
.desk{
    margin-left: 60px;
}
.lap{
    margin-left: 24px;
}
.app{
    display: block;
    
}
.all li{
    box-sizing: border-box;
color: rgb(196, 196, 196);
cursor: pointer;
display: block;
font-family: norms-medium;
font-size: 14px;
/* font-variant-ligatures: no-common-ligatures; */
font-weight: 500;
letter-spacing: normal;
line-height: 20px;
}
.app{
    display: block;
height: 100px;
align-items: end;
padding-left: 23%; 

}
.final svg{
    max-width: 144px;
    height: 50px;
    border-radius: 12px;
    background-color: #3a3a3a;
    color: white;
}
.play svg{
    max-width: 144px;
    height: 50px;
    
    border-radius: 12px;
    background-color: #3a3a3a;
    color: white;
    margin-top: 10px;
    
}
.app svg{
    fill : #bababa;

}
.fill{
    display: none;
}
.saved .feed{
    display: none;
}
.saved{
    display: flex;
}
.dham{
    display: flex;
    justify-content: center;
    margin-top: 53px;
    align-items: center;
    width: 100%;
}
.rolly{
    display: flex;
     
}
.rolly span{ 
    margin-left: 20px;
    box-sizing: border-box;
color: rgb(196, 196, 196);
cursor: pointer;
display: block;
font-family: roboto;
font-size: 12px;
font-weight: 400;
letter-spacing: normal;
line-height: 18px;
height: 18px;
}
.rolly svg{
    fill: #ffffff;
}
.mid-end select{
    max-width: 94.001px;
    color: rgb(25, 25, 25);
    font-family: roboto-medium;
font-size: 14px;
font-variant-ligatures: normal;
font-weight: 500;
letter-spacing: normal;
line-height: 20px;
border-radius: none;
border: none;
text-align: center;
z-index: 2;
margin-left: 37px;
padding-top: 4px;
transform: translateY(2px);
}
.mid-end svg{
    transform: translateX(10px);
    text-align: center;
    margin-top: 5px;
    position: absolute;
    z-index: 1;
}
.mid-end{
    /* position: relative; */
    max-width: 150px;
    height: 32px;
    background-color: #ffffff;
    border-radius: 16px;
    padding-right: 7px;
    /* margin-left: 159px; */

}
.rightmost {
    display: flex;
    transform: translateX(100px);
}
.rightmost svg{
    margin-left: 10px;
}

.start2 svg{
    color: #eb1700;
    max-width: 16px;
}
.type1 img{
    margin-left: 4px;
}

       /* laptop responsive */
       @media  (max-width: 1183px){ 
 
*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

.logo svg{
  height: 24px;
  max-width: 42px;
    
}
.dasher{
    text-align: center;
}
.discover{
    margin-top: 222px;
}
.golo{
    margin-top: 3px;
    /* transform: translateX(-1px); */
}
.golo svg{
height: 18px;
max-width: 155px;

}
.pop p{
    margin: 0;
}
.door{
justify-content: center;
align-items: center;

}
.banner-text{
    margin: auto;
    justify-content: center;
max-width: 750px;;
/* text-align: center; */
font-family: norms-bold;
font-size: 40px;
/* font-variant-ligatures: no-common-ligatures; */
font-weight: 700;
letter-spacing: -0.01px;
line-height: 40px;
}
header{
    height: 650px;
}
.cover{
    max-width: 408px;
    height: 56px;
    margin-top: 23px;
}
.row{
    background-color: #ffffff;
}
.row svg{
    border: none;
    color: #191919;
    
}
.saved p{
    display: block;
}

.saved .deep{
    display: none;
    
}
.saved{
    margin: 0auto;

max-width: 203.5px;
height: 32px;
transform: none;
/* margin-left: 490px; */
border-bottom-color: rgb(25, 25, 25);
}
.fan{
    margin-left: 50px;
}
.dasher{
    display: block;
    margin-top: -25px;
}
.scooter{
    display: flex;
    justify-content: center;
margin-left: 15%;
}
.type img{
    height: 124px;
    margin-top: -8px;
    transform: none;
    
}
.type1 img{
   max-width: 124px;
    height: 124px;

}
.type2 img{
   max-width: 124px;
    height: 124px;
    margin-top: -16px;
    /* transform: translateX(9px); */
    
}
.fan span{
    width: 100%;
}

.house{
    display: flex;
    justify-content: center;
    margin-top: 37px;
    
}
.start1 svg{
    max-width: 16px;
    height: 16px;
}
.arrow svg{
    width: 16px;
    height: 16px;

}
.fan span{
box-sizing: border-box;
/* color: rgb(25, 25, 25); */
font-family: norms-medium;
font-size: 18px;
font-weight: 500;
letter-spacing: -0.01px;
line-height: 24px;
text-align: left;
margin-top: 0;
transform: none;
}
.fan h2{
    max-width: 250px;
text-align: left;
/* transform: translateX(-22px); */
margin-top: -9px;
}
.arrow {
    display: flex;
    width: 100%;
    margin-left: 0;
}
.start2 svg{
color:#eb1700;
height: 16px;
width: 16px;
}
.arrow h3{
    box-sizing: border-box;
color: rgb(235, 23, 0);
cursor: pointer;
display: block;
font-family: norms-medium;
font-size: 14px;
font-variant-ligatures: normal;
font-weight: 700;
letter-spacing: -0.01px;
line-height: 20px;
}

.house{
    text-align: left;
    
}
.mobile{
    display: flex;
    text-align: left;
    margin-top: 36px;
    transform: none;
}
.non{
    margin-left: 57px;
}
.non span{
    margin-left: 35px;
    margin-top: 0;
    transform: none;
}
.non h3{
    box-sizing: border-box;
color: rgb(235, 23, 0);
cursor: pointer;
display: block;
font-family: norms-medium;
font-size: 14px;
font-variant-ligatures: normal;
font-weight: 700;
letter-spacing: -0.01px;
line-height: 20px;
margin-left: 24px;
margin-top: 13px;
}
.shoe h2{
margin-left: 35px;
}
.shoe span{
    margin-left: 35px;
}

.start2 {
    display: flex;
    /* text-align: center;ju */
    align-items: center;
    justify-content: left;
    
}
.type1{
    transform: translateX(27px);
}
.bahu{
    grid-template-columns: repeat(4,1fr);
}
.crave-img img{
    width: 80%;
    height: 500px;
}
.crave{
    width: 100%;
    justify-content:left;
}
.writing{
    margin-left: 0;
}
.crave-img{
    width: 100%;
    margin-left: 0;
}
.words{
    margin-left: 10px;
}
.bahu{
    width: 100%;
    margin-left: 0;
}
.girl img{
    margin-right: 0;
    width: 90%;
    height: 500px;
}
.mar-img img{
    width: 90%;
    transform: none;
}
.paid{
    margin-right: 0;
}
.less img{
    width: 100%;
}
.words{
    margin-left: 0;
}
.ezra{
    margin-left: 0;
}
.medi img{
    max-width: 683px;

}
.pack img{
    width: 93%;
    height: 100%;
    padding: 10px;
}
.boxer{
    grid-template-columns: repeat(2,502px);
    gap: 20px;
}
.app{
    padding-left: 10px;
}
.rolly{
    transform: none;
}
.mid-end{
    margin-left: 0px;
}
.rightmost{
    transform: translateX(20px);
}
.krish{
    width: 100%;
}
.boxer{
    width: 100%;
}

       }

/* Tab responsive */

@media (max-width:960px){
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bahu{
    grid-template-columns: 4 1fr;
  margin-left: 0;
}
.girl img{
    width: 80%;
    height: 500px;
}
.mar-img img{
    max-width: 459px;
    height: 500px;
}
.pack img{
    width: 100%;
    height: 100%;
}
.boxer{
    grid-template-columns:repeat(2,364px);
    /* gap: 30px; */
}
.medi img{
   width: 80%;
    height: 500px;
}
.cover-img{
    width: 100%;
    height: 600px;
}
.less img{
    max-width: 459px;
    height: 500px;
}
.crave-img img{
    width: 80%;
    height: 500px;
}
.flower h2{
    font-family: norms-bold;
    font-size: 40px;
    font-weight: 700px;
    line-height: 40px;
    letter-spacing: -0.01px;
   max-width: 80%;
}
.pet h2{
    margin-left: 0;
}
.minibar h2{
   max-width: 395.5px;
    font-family: norms-bold;
    font-size: 40px;
    letter-spacing: -0.01px;
    font-weight: 700px;
    line-height: 40px;
}
.from h2{
    max-width: 395.5px;
}
.banner-text{
    /* transform: translateX(104px); */
    margin: auto;
}
.discover{
    margin-top: 218px;
}
.golo svg{
    max-width: 112px;
    height: 13px;
    transform: translateX(-4px);
}
.logo svg{
    width: 32px;
    height: 18px;
    margin-left: 18px;
}
.cover{
    margin: 0auto;
 /* transform: translateX(274px); */
 margin-top: 24px;
}
.saved {

width: 88.73px;
height: 32px;
 /* margin-left: 434px; */
}
.saved .deep {
    display: block;
}
.saved p{
    display: none;
   
}
.type img{
    transform: translateX(-45px);
    margin-top: -9px;
}
.fan{
    transform: translateX(-5px);
}
.type1 img{
margin-top: -6px;
transform: translateX(-2px);

}
.non{
    transform: translateX(6px);
    margin-top: -2px;
}
.door{
   margin-left: 192px; 
}
.paid{
    margin-right: 0;
}
.girl img{
    margin-right: 0;
}
.all{
    margin-left: 0;
}
header{
    width: 100%;
    height: 650px;

}
.rolly span{
    margin-left: 0;
}
.dham{
    width: 100%;
}
.rolly{
    width: 60%;
}
}


      /* mobile responsive */
@media (max-width:768px){

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
.bahu{
    margin-left: 0;
    /* grid-template-columns: repeat(4 300px); */
}
.girl img{
    max-width: 90%;
    height: 500px;
}
.mar-img img{
    max-width: 285.08px;
    height: 500px;
    object-fit: cover;
}
.pack img{
    max-width: 344px;
    height: 344px;
}
.boxer{
    grid-template-columns: 340px 340px;
    grid-template-rows: 700px 700px;
}
.medi img{
    width: 90%;
    height: 500px;
    object-fit: cover;
}
.cover-img{
    width: 100%;
    height: 600px;
}
.less img{
    max-width: 302px;
    height: 500px;
    object-fit: cover;
}
.crave-img img{
    width: 80%;
    height: 500px;
    object-fit: cover;
}
.banner-text{
    margin: auto;
    height: 56px;
 max-width: 350px;
font-family: norms-bold;
font-size: 22px;
font-variant-ligatures: no-common-ligatures;
font-weight: 700;
letter-spacing: normal;
line-height: 28px;
/* transform: translateX(209px); */
}
.grocery{
    margin-left: 200px;
}
.flower h2{
  max-width: 309px;  
}
.pet h2{
    max-width: 309px;
}
.cool{
    display: flex;
    /* flex-direction: column-reverse; */
}
.all{
    margin-left: 0;
}
.code{
    display: flex;
    padding-left: 0;
    gap: 200px;
}
.cool{
    display: block;
}
.saved{
    /* margin-left: 340px; */
    display: flex;
}
.fill{
    align-items: center;
    justify-content: center;
}
.rolly{
    width: 60%;
}
.type1{
    margin-left: 0;
}
.pop{
    margin-left: 0;
}

}

@media (max-width:767px) {
 
    .done{
        margin: 0;
    }
    header{
width: 100%;
        height: 550px;
        transform: none;
        margin-bottom: 20px;
    }
.crave{
    /* width: 100%; */
    display: flex;
    flex-direction: column-reverse;
    margin-top: 100px;
}
.crave-img img{
    width: 100%;
    height: 180px;
}
.crave-img{
    margin-left: 0;
}
.full-pink{
    display: block;
    width: 100%;
}
.less img{
    max-width: 727px;
    height: 180px;
}
.words{
    margin: 80px;
    margin-top: 0;
}
.cover-img{
    width: 100%;
    /* height: 350px; */
    /* position: relative; */
}
.grocery{
    margin-left: 0;
   top: 0;
   left: 10%;
}
.noor{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}
.medi img{
  /* width: 100%; */
    max-height: 180px;
}
.ezra h1{
    width: 100%;
    max-width: 500px;
}
.ezra{
    right: 0;
    top: 0;
    margin-left: 0;
    margin-top: 20px;
}
.gift span{
    max-width: 300px;
}
.boxer{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    height: 100%;
    width: 100%;
    justify-content:left;
    gap: 0;
}
.pack img{
   max-width: 650.3px;
    height: 180px;
    object-fit: cover;
    
}
.bussi span{
    max-width: 300px;
}
.mar-img img{
    max-width: 727px;
    height: 180px;
    
}
.mar{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 0;
    padding: 0;
}
.paid{
    margin-top: 0;
    transform: none;
}
.sales{
    display: inline-block;
    width: 100%;
}
.girl img{
    width: 100%;
    height: 180px;
    /* margin-right: 0; */
    transform: none;
    margin: 0;
    /* object-fit: fill; */
}
.mar-img img{
    max-width: 727px;
    transform: none;
}
.paid button{
    margin-top: 0;
}
.top{
    transform: none;
}
.hood{
    margin-top: 0;
    width: 100%;
}
.cool{
    display: block;
}
.all{
    display: block;
}
.code{
    display: block;
}
.type img{
    max-width: 88px;
    height: 88px;
    /* transform: translateX(4px); */
}
.type1 img{
   max-width: 88px;
    height: 88px;
    margin-left: 0;
}
.type2 img{
   max-width: 88px;
    height: 88px;
}
.paid{
    margin-right: 0;
}
.button .siva{
    display: block;
    width: 66.36px;
    height: 32px;
    border-radius: 20px;
    border: none;
    color: rgb(25, 25, 25);
cursor: pointer;
display: block;
font-family: norms-medium;
font-size: 16px;
font-variant-ligatures: no-common-ligatures;
font-weight: 700;
letter-spacing: -0.01px;
line-height: 22px;
background-color: #ffffff;
}
 .button .dev{
    display: block;
    width: 100.81px;
    height: 32px;
    border: none;
    border-radius: 20px;
    color: rgb(255, 255, 255);
cursor: pointer;
display: block;
font-family: norms-medium;
font-size: 16px;
font-variant-ligatures: no-common-ligatures;
font-weight: 700;
letter-spacing: -0.01px;
line-height: 22px;
background-color: #eb1700;
}
.button .in{
    display: none;
}
.button .up{
    display: none;
}
.krish{
    max-width: 767px;
    margin: auto;
}
.scooter{
    padding-left: 0;
}
.type1{
    /* transform: none; */
    margin-left: 0;
}
.krish{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-bottom: -100px; */

}
.from span{
    max-width: 470px;
}
.from h2{
    max-width: 272px;
}
.dasher{
    margin-top: 40px;
}

.fill{
    max-width: 360px;
    height: 148px;
    border: 1px solid #e7e7e7;
    border-radius: 16px;
    padding: 20px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    margin-left: 100px;
}
.google{
    display: block;
}
.google button{
    display: block;
}
.svg{
    max-width: 60px;
    height: 60px;
    border-radius: 16px;
    border: 1px solid rgb(231, 231, 231);
    background-color: rgb(255, 255, 255);
    margin-right: 8px;
    padding: 8px;
}
.google p{
    max-width: 177px;
    box-sizing: border-box;
color: rgb(25, 25, 25);
display: block;
font-family: norms-medium;
font-size: 18px;
font-variant-ligatures: no-common-ligatures;
font-weight:700;
height: 22px;
letter-spacing: -0.511197px;
line-height: 22px;
}
.google span{
max-width: 177px;
box-sizing: border-box;
color: rgb(118, 118, 118);
display: block;
font-family: norms-medium;
font-size: 14px;
/* font-variant-ligatures no-common-ligatures */
font-weight: 500;
height: 22px;
letter-spacing: normal;
line-height: 22px;

}
.oop button{
    width: 124.217px;
    height: 32px;
    border-radius: 24px;
box-sizing: border-box;
color: rgb(255, 255, 255);
cursor: pointer;
display: block;
/* font-family: norm-regular; */
font-size: 14px;
font-variant-ligatures: no-common-ligatures;
font-weight: 700;
letter-spacing: normal;
line-height: 16px;
background-color: #eb1700;
border: none;
padding-bottom: 4px;
}
.oop svg{
 transform: translateY(4px);
}
.form h2{
    max-width: 313px;
}
.from{
    margin-top: 0;
}
.flower{
    margin: 0;
}
.minibar{
    margin-top: 0;
}
.pet{
    margin-top: 0;
}
.grocery{
    transform: translateY(90px);
}
.cover{
    max-width: 324px;
    height: 48px;
    /* margin-left: 40px; */
}
header{
    position: relative;
}
.door{
    position: absolute;
    top: 175px;
    right: 0;
    margin-left: 0;
    left: -30px;
}
.navbar{
    text-align: right;
}
.button{
    position: absolute;
    right: 0;
}
.fill{
    margin: auto;
    /* transform: translateX(200px); */
    display: flex;
    justify-content: center;
    
    padding-left: 0;
    
}
.svg{
    margin-left: -47px;
}
.google span{
    margin-top: 6px;
}
.oop{
    margin-top: 8px;
}
.dasher{
    margin-top: 67px;
}
.fan{
    transform: none;
    margin-left: 27px;
}
.type{
    margin: 0;
    transform: none;
    /* margin-left: 102px; */
}
.type img{
transform: translateX(4px);
}

 .saved {
    display: flex;
    max-width: 81.06px;
    height: 32px;
}
.saved .feed{
    display: flex;
}
.saved .deep{
    display: none;
}
.feed p{
    box-sizing: border-box;
color: rgb(36, 36, 36);
cursor: pointer;
display: block;
font-family: norm-regular;
font-size: 14px;
font-variant-ligatures: normal;
font-weight: 700;
letter-spacing: -0.01px;
line-height: 20px
}
.saved svg{
    max-width: 16px;
    height: 16px;
    padding: 0;
}
.fill{
    display: flex;
}
.bahu{
    display: block;
    justify-content: center; 
}
.dham{
    display: flex;
    flex-direction: column-reverse;
}
.rolly{
    width: 100%;
}
.door{
    transform: none;
}
.non{
    margin-left: 0;
}
.grocery h2{
    width: none;
}
}


